{% extends 'layout.html' %}

{% block title %}{{ user_profile.username }}'s Profile{% endblock %}
{% block css %}<link href="{{ STATIC_URL }}profile.css" rel="stylesheet" type="text/css" media="screen">{% endblock %}
{% block js %}<script src="{{ STATIC_URL }}profile.js" type="text/javascript"></script>{% endblock %}

{% block content %}

<div class="row">
    <aside class="span4">
        <section>
            <img src="http://gravatar.com/avatar/{{ gravatar_email }}.png" alt="{{ user_profile.username }}" class="gravatar">
            <h1>
                {{ user_profile.username }}
            </h1>
            <p>
                {{ queueitems_count }} Queued Track{{ queueitems_count|pluralize }}
            </p>
        </section>
    </aside>
    <aside class="span8">
        <section>
            <table class="table">
                <thead>
                    <tr>
                        <th>Recently requested tracks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for queue in queue_tracks %}
                    <tr class="recent-track" data-original-title="{{ queue.track.title }}" data-content="Title: <strong>{{ queue.track.title }}</strong><br>Artist: <strong>{{ queue.track.artist }}</strong>">
                        <td class="profile-track">{{ queue.track.title|truncatewords:6 }} - {{ queue.track.artist|truncatewords:5 }}</td>
                        <td class="profile-track-added"><small>added at {{ queue.time_added|date:"g:i a \o\n j F Y" }}</small></td>
                        {% if user_profile.pk == user.pk %}
                        <td class="profile-track-close"><button class="delete-queue-item close" name="{{ queue.pk }}">&times;</button></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </aside>
</div>

{% endblock %}
