.profile-track {
    width: 60%;
    font-size: 11px;
}

.profile-track-added {
    text-align: right !important;
}

.profile-track-close {
    width: 2.5%;
}

.popover-inner {
    width: auto;
}

.popover.in {
  opacity: 0.8 !important;
  filter: alpha(opacity=80) !important;
}

.gravatar {
    float: left;
    margin-right: 10px;
}

