{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
                {% if user.is_authenticated %}
                <div class="hero-unit center">
                    <h1>Welcome!</h1>
                    <a class="btn btn-primary btn-large" href="{% url search-page %}">Search</a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Current Queue</th>
                            <th>{{ queue_items|length }} Track{{ queue_items|pluralize }}</th>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Date Added</th>
                    </thead>
                    <tbody>
                    {% for track in queue_items %}
                        <tr>
                            <td class="recent-track-title">{{ track.track.title }}</td>
                            <td class="recent-track-artist">{{ track.track.artist }}</td>
                            <td class="recent-track-album">{{ track.track.album }}</td>
                            <td class="recent-track-date">added at {{ track.time_added|date:"g:i a \o\n j F Y" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="hero-unit center">
                    <h1>Welcome!</h1>
                    <h2>
                        This is where you login to Music to start playing what you want from the radio!
                    </h2>
                    <a class="btn btn-primary btn-large" href="{% url socialauth_begin 'google-oauth2' %}">Login with Google OAuth 2</a>
                </div>
                {% endif %}
{% endblock %}

