<!DOCTYPE html>
<html>
    <head>
        <title>Music | {% block title %}{% endblock %}</title>
        <link href="{{ STATIC_URL }}cssreset-min.css" rel="stylesheet" type="text/css" media="all">
        <link href="{{ STATIC_URL }}main.css" rel="stylesheet" type="text/css" media="screen">
    </head>
    <body>
        <div id="container">
            <header>
                <h1><a href="{% url index-page %}">Music!</a></h1>
                {% if user.is_authenticated %}
                Hey, <a href="{% url my-profile-page %}">{{ user.username }}</a> <a href="{% url logout-page %}">Logout</a>
                {% else %}
                Nope <a href="{% url socialauth_begin 'google-oauth2' %}">Login with Google</a>
                {% endif %}<br>
            </header>
            <section class="content">{% block content %}{% endblock %}</section>
            <footer>Copyright &copy; Todd Lunter.</footer>
        </div>
    </body>
</html

