{% extends 'layout.html' %}

{% block title %}{{ user_profile.username }}'s Profile{% endblock %}

{% block content %}

<div class="row">
    <aside class="span4">
        <section>
            <h1>
                <img src="http://gravatar.com/avatar/{{ gravatar_email }}.png" alt="{{ user_profile.username }}" class="gravatar">
                {{ user_profile.username }}
            </h1>
        </section>
    </aside>
    <aside class="span6">
        <section>
            <h2>Recently requested tracks</h2>
            {% for queue in queue_tracks %}
            <p class="recent-track" data-original-title="{{ queue.track.title }}" data-content="Title: <strong>{{ queue.track.title }}</strong><br>Artist: <strong>{{ queue.track.artist }}</strong>">{{ queue.track.title }} - {{ queue.track.artist }}</p>
            {% endfor %}
        </section>
    </aside>
</div>

{% endblock %}
