{% extends 'layout.html' %}

{% block title %}{{ user_profile.username }}'s Profile{% endblock %}

{% block content %}

<div class="row">
    <aside class="span4">
        <section>
            <h1>
                <img src="http://gravatar.com/avatar/{{ gravatar_email }}.png" alt="{{ user_profile.username }}" class="gravatar">
                {{ user_profile.username }}
            </h1>
        </section>
    </aside>
    <aside class="offset2 span6">
        <section>
            <table class="table">
                <thead>
                    <tr>
                        <th>Recently requested tracks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for queue in queue_tracks %}
                    <tr class="recent-track" data-original-title="{{ queue.track.title }}" data-content="Title: <strong>{{ queue.track.title }}</strong><br>Artist: <strong>{{ queue.track.artist }}</strong>">
                        <td>{{ queue.track.title|truncatewords:6 }} - {{ queue.track.artist|truncatewords:5 }}</td>
                        <td><small>added at {{ queue.time_added|date:"g:i a \o\n j F Y" }}</small></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </aside>
</div>

{% endblock %}
