{% extends 'layout.html' %}

{% block title %}Search{% endblock %}
{% block css %}<link href="{{ STATIC_URL }}search.css" rel="stylesheet" type="text/css" media="screen">{% endblock %}
{% block js %}<script src="{{ STATIC_URL }}search.js" type="text/javascript"></script>{% endblock %}

{% block content %}
<div class="hero-unit center">
<form action="{% url search-page %}" method="post">
    {% csrf_token %}
    <input type="input" name="search_term" value="{{ search_terms }}" placeholder="Search Query" /><br>
</form>
</div>
<div class="modal fade" id="confirmModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>Confirm track</h3>
    </div>
    <div class="modal-body">
        <p>It appears this track was recently placed in the queue.  Do you want to add it again?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="queue-track-link-confirm btn btn-primary" name="">Confirm</button>
    </div>
</div>
<div id="alert-area"></div>
<table class="table" name="search_table">
    {% if search_data %}
    <thead>
        <tr>
            <th>Search Results:</th>
            <th>{{ search_data|length }} Results</th>
        </tr>
        <tr>
            <th class="search-track-title">Title</th>
            <th class="search-track-artist">Artist</th>
            <th class="search-track-album">Album</th>
            <th class="search-track-queue">Queue</th>
        </tr>
    </thead>
    <tbody>
    {% for track in search_data %}
        <tr>
            <td class="search-track-title">{{ track.title }}</td>
            <td class="search-track-artist">{{ track.artist }}</td>
            <td class="search-track-album">{{ track.album }}</td>
            <td class="search-track-queue"><button class="queue-track-link btn btn-success" name="{{ track.pk }}"><i class="icon-plus-sign icon-white"></i></button></td>
        </tr>
    {% endfor %}
    </tbody>
    {% endif %}
</table>
{% endblock %}
